@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />

<br />
<br />
<br />
<br />

<br />
<br />
<div class="blurred-background"></div>
<div class="text-center">
    <h1 class="display-4">Witaj w aplikacji</h1>
    <h1 class="display-4">ułatwiającej zdalne nauczanie</h1>
    <h3 class="display-6">Dołącz już teraz!</h3>
    <br />
    <div class="text-center">
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-area="Identity" asp-page="/Account/Register" asp-route-role="Student">Dołącz jako uczeń</a>
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-area="Identity" asp-page="/Account/Register" asp-route-role="Teacher">Dołącz jako nauczyciel</a>
    </div>
    <br />

</div>
